*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: blueviolet;
    justify-content: center;
    align-items: center;
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    transition: 0.3s cubic-bezier(0.215,0.61,0.355,1);
}
h2{
    color: antiquewhite;
    font-weight: 200px;
}
button{
    padding: 15px;
    background-color: transparent;
    border: 2px solid whitesmoke;
    color: antiquewhite;
    transition: 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

button:hover{
    background-color: antiquewhite;
    color: black;
    cursor: pointer;
}
button:active{
    padding: 5px;
}